@import "/home/lucas/.cache/wal/colors-waybar.css";

/* Map pywal colors to custom variables */
@define-color bg        @background;
@define-color bg_alt    @color8;
@define-color fg        @foreground;
@define-color accent    @color1;
@define-color green     @color2;
@define-color pink      @color5;
@define-color red       @color3;
@define-color border    @color0;

* {
  font-family: monospace;
  font-size: 12px;
  color: @foreground;
}
window#waybar {
  border-radius: 18px;
  background-color: @bg;
  color: @fg;
  border-bottom: 1px solid @border;
  min-height: 28px;
}

#custom-btc {
	color: @fg;
	font-weight: bold;
}
#custom-separator {
  color: @color2;
  margin: 0 5px;
}

/* Buttons / Workspaces */
button {
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: inset 0 -2px transparent;
}
#workspaces button { padding: 0 8px; }
#workspaces button.active {
  background: @bg_alt;
  box-shadow: inset 0 -2px @accent;
}
#workspaces button.urgent {
  background: @red;
  color: @background;
}

#window, #workspaces { margin: 0 4px; }

/* Module spacing */
#tray, #clock, #cpu, #memory, #network, #battery, #backlight, #pulseaudio,
#idle_inhibitor, #power-profiles-daemon, #custom-media, #keyboard-state {
  padding: 0 10px;
}
#battery{
	font-size:14px;
}
#clock{
	font-size:12px;
	font-weight:bold;
	background-color: green;
	border-radius:15px;
	padding:4px;
	margin: 2px;
}

/* States */
#pulseaudio.muted { color: @pink; }
#network.disconnected { color: @accent; }
#battery.warning  { color: @accent; }
#battery.critical { color: @red; }

/* Tooltip */
tooltip {
  background: @bg;
  color: @fg;
  border: 1px solid @border;
}


#custom-power {
  margin-left: 5px;

  padding: 8px;
  background-color:DarkCyan;
  border-radius:13px;
  font-family: "Symbols Nerd Font", "Symbols Nerd Font Mono", "JetBrainsMono Nerd Font", monospace;
}
